SNOWFLAKE_ACCOUNT=ra89421.east-us-2.azure
SNOWFLAKE_USER=GDUMA@PHDATA.IO
SNOWFLAKE_ROLE=ALL_AAI_ARCHITECTS
SNOWFLAKE_WAREHOUSE=DEFAULT_USER_WH
SNOWFLAKE_DB=SANDBOX
SNOWFLAKE_SCHEMA=GDUMA
SNOWFLAKE_PRIVATE_KEY_PATH=rsa_key.p8
CORTEX_MODEL=openai-gpt-4.1
CORTEX_AGENT_NAME=VULN_INTELLIGENCE_AGENT
GITHUB_MCP_CLIENT_ID=<your_github_app_client_id>
GITHUB_MCP_CLIENT_SECRET=<your_github_app_client_secret>
